{% extends 'base.html' %}
{% load render_table from django_tables2 %}


{% block content %}

            <h3>All Transactions
                <a class = "pull-right" href="{% url 'movements:new_transaction' %}" data-toggle="tooltip" data-placement="left" title="Create New"><span class="glyphicon glyphicon-plus"></span></a>
            </h3>
            <hr>
            {% render_table transactions %}

{% endblock %}



{% block scripts %}
    <script type="text/javascript" >
            $('.table-container').addClass('table-responsive');
            $('.table-responsive').removeClass('table-container');
            $('.paleblue').addClass('table');
    </script>
{% endblock %}





<!--


            <table class = "table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Issued to</th>
                        <th>Issued</th>
                        <th>Date of Issue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.product }}</td>
                            <td>{{ transaction.issued_to }}</td>
                            <td>{{ transaction.issued }}</td>
                            <td>{{ transaction.date_issued }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if transactions.has_other_pages %}
                <ul class="pagination">
                    {% if transactions.has_previous %}
                        <li><a href="?page={{ transactions.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in transactions.paginator.page_range %}
                        {% if transactions.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if transactions.has_next %}
                    <li><a href="?page={{ transactions.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
 -->
