{% load el_pagination_tags %}

<table class = "table table-hover table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Ajust</th>
            <th>Date Asjusted</th>
        </tr>
    </thead>
    <tbody>
        {% paginate adjustments using "adjustments_page" %}
        {% for adjustment in adjustments %}
            <tr>
                <td>
    <span  data-toggle="popover" title="Remarks" data-content="{{ adjustment.remarks }}">{{ adjustment.adjustment_type }}</span></td>
                <td>{{ adjustment.adjust }}</td>
                <td>{{ adjustment.adjustment_date }}</td>
            </tr>
        {% endfor %}                       
        {% show_pages %}
    </tbody>
</table>