{% load el_pagination_tags %}

<table class = "table table-hover table-striped">
    <thead>
        <tr>
            <th>Issued to</th>
            <th>Issued</th>
            <th>Date of Issue</th>
        </tr>
    </thead>
    <tbody>
        {% paginate transactions %}
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.issued_to }}</td>
                        <td>{{ transaction.issued }}</td>
                        <td>{{ transaction.date_issued }}</td>
                    </tr>
                {% endfor %}                        
        {% show_pages %}
    </tbody>
</table>